
.customer-page-root {
    width: calc(100vw - 158px);
    margin-left: 158px;
    height: 100vh;
    padding: 0.7rem 1rem;
    background-color: var(--gray-bg);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  animation: fadeIn 0.3s ease-in-out
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.customer-page-header {
    height: fit-content;
    background-color: var(--primary-bg);
    text-align: center;
    color: #fff;
    padding: 0.3rem 0;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.customer-page-filter-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    background-color: #fff;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    padding: 0.4rem;
}

.customer-page-filter-actions div {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.customer-page-filter-actions div span, .customer-page-filter-btn {
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding: 0.2rem 0.4rem;
    border-radius: 0.35rem;
    cursor: pointer;
    background-color: #fff;
    transition: background 0.25s;
}

.customer-page-filter-btn.active {
    background-color: var(--primary-bg) !important;
    color: #fff;
    border: none !important;
}

.customer-page-active-span {
    background-color: var(--primary-bg) !important;
    color: #fff;
    border: none !important;
}

.customer-page-filter-actions input {
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding: 0.4rem;
    border-radius: 0.35rem;
}

.customer-page-filter-actions input:focus {
    outline: none;
}

.customer-page-filter-btn {
    padding: 0.4rem;
}

.customer-item-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

@media (max-width: 890px) {
    .customer-page-filter-actions {
        flex-direction: column;
        align-items: flex-start;    
    }
}

@media (max-width: 640px) {
    .customer-page-root {
        width: 100%;
        margin-left: 0;
    }
}