.dashboard-root {
    width: calc(100vw - 150px);
    margin-left: 150px;
    height: 100vh;
    padding: 0.7rem 1rem;
    background-color: var(--gray-bg);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.dashboard-nav {
    height: fit-content;
    background-color: var(--primary-bg);
    text-align: center;
    color: #fff;
    padding: 0.3rem 0;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.dashboard-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 0.4rem;
}

.dashboard-head div {
    border: 1px solid rgb(0, 0, 0, 0.4);
    padding: 0.2rem 0.4rem;
    border-radius: 0.35rem;
    cursor: pointer;
    transition: background 0.25s;
}

.request-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    overflow-y: auto;
}

.active-filter-btn {
    border: none !important;
    background-color: var(--primary-bg);
    color: #fff;
}