@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Mozilla+Headline:wght@200..700&family=Varela+Round&display=swap');


:root {
  --primary-bg: #3d5a80;
  --dark-bg: #0d1b2a;
  --gray-bg: #f1f1f1;
  --yellow-bg: #ffcc00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Libertinus Sans", sans-serif;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}