.ticket-root {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: inherit;
  padding: 0.4rem;
  background-color: #fff;

  max-height: 120px;
  transition: background-color 0.25s, max-height 0.5s ease;
}

.ticket-root.open {
  max-height: 600px;
  gap: 0.3rem;
}

.ticket-action {
    display: flex;
    justify-content: end;
    height: fit-content;
    width: fit-content;
    align-self: self-end;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 0.2rem;
}

.ticket-details {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  transition: opacity 0.4s ease, max-height 0.9s ease;
}

.ticket-details.open {
  opacity: 1;
  max-height: 400px;
}

.ticket-images-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: inherit;
  height: 120px;
  padding: 0.4rem;
  display: flex;
  gap: 0.3rem;
}

.ticket-images-container span {
  height: 100%;
  width: 100px;
  background-color: yellow;
}

.ticket-details ul {
  list-style: none;
}

.ticket-head,
.ticket-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-cancel-btn {
    margin-left: 0.4rem;
    border: none;
    color: red;
    background-color: inherit;
    font-size: 1.1rem;
    cursor: pointer;
}

.ticket-root p {
  margin: 0.3rem 0 0.3rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  box-orient: vertical;
}

.ticket-root.open p {
  display: inherit;
  margin: 0;
}

.ticket-title,
.ticket-date {
  color: var(--primary-bg);
}

.ticket-amount {
  display: none;
  color: #57d357;
}

.ticket-amount.Completed {
  display: inherit;
}

.ticket-status-Pending {
  color: #ffd015;
}

.ticket-status-Cancelled {
  color: #eb3a3a;
}

.ticket-status-Completed {
  color: #57d357;
}