
.navbar-root {
    position: fixed;
    top: 0px;
    left: 0px;

    background-color: var(--primary-bg);
    width: 100%;
    display: flex;
    justify-content: end;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
}

.navbar-root div {
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background 0.3s;
}

.navbar-root div:hover {
    background-color: var(--dark-bg);
}