
.sidebar-root {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: 600;

    background-color: var(--primary-bg);
    color: white;
    transition: all 0.3s;
}

.sidebar-root div {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background 0.3s;
}

.sidebar-root div:hover {
    background-color: var(--dark-bg);
}

.active-location-link {
    background-color: var(--dark-bg);
}

.sidebar-logout-btn {
    margin-top: auto;
}

.sidebar-icon {
    display: none;
    position: fixed;
    left: 20px;
    bottom: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.8rem 1rem;
    padding-top: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

@media (max-width: 640px) {
    .sidebar-root {
        left: -180px;
    }

    .sidebar-root.open {
        left: 0px;
    }

    .sidebar-icon.open {
        display: block;
    }

    .sidebar-icon.close {
        display: block;
        background-color: var(--primary-bg);
        color:#fff;
    }

    .sidebar-logout-btn {
        margin-top: 0;
    }
}